torch==1.7.1+cu110
torchaudio==0.7.2
torchmetrics==0.4.1
torchvision==0.8.2+cu110
transformer-srl==2.5
transformers==4.20.0
tsnecuda==3.0.1
typer==0.3.2
typing-extensions==3.10.0.0
line_profiler
myLabTools